{% extends "base.html" %}


{% block title %}
    About - {% endblock title %}

{% block page_title %}
    About Government Report Card
{% endblock page_title %}

{% block content %}
    <blockquote cite="https://en.wikipedia.org/wiki/Evelyn_Beatrice_Hall">I do not agree with what you have to say, but I'll defend to the death your right to say it.</blockquote>
    <p> ~ <a href="https://en.wikipedia.org/wiki/Evelyn_Beatrice_Hall" target="_blank">Evelyn Beatrice Hall in Voltaire's biography</a></p>

    <h2>What this project is</h2>
    <p>This website is just an effort to start a conversation on the Indian government's agenda and items in its manifesto. The main goal of this project is to establish a platform where the Indian citizens can convery their thoughts on each of the items in the current serving majority's manifesto.</p>
    <p>This website hopes to serve as a record of what the citizens think about a particular item of the manifesto, discuss it and hope to see if there has been any progress in it.</p>
    <p>It is a geniune attempt at a project that might grow into tracking citizens' inputs and thoughts, hopefully creating a <a href="/manifesto/14/">transparent</a> democracy.</p>

    <p>This website is <u>in no way</u> a place to fuel hatred against any particular gender, caste, religion, status, position, nationality, party, opinions, thoughts.</p>
    <p>This website is not biased in any way.</p>

    <h2>Participation</h2>
    <ul>
        <li>Please do not spam this forum.</li>
        <li>Please be polite. Rudeness will not make your point any more clear.</li>
        <li>Please try to comment only when it is constructive and adds to the discussion.</li>
        <li>Respect the freedom of speech of others. It is everyone's constitutional right.</li>
    </ul>

    <h2>ToDo</h2>
    <ul>
        <li>Create a voting mechanism on each of the item.</li>
        <li>Move the system from spreadsheet to a DB.</li>
    </ul>

    <h2>Powered by</h2>
    <ul>
        <li><a target="_blank" href="https://heroku.com/">Heroku</a></li>
        <li><a target="_blank" href="http://flask.pocoo.org/" target="_blank">Flask</li>
        <li><a target="_blank" href="http://copytext.readthedocs.org/">copytext (NPR)</a></li>
        <li><a target="_blank" href="http://foundation.zurb.com/">Foundation (Zurb)</a></li>
        <li><a target="_blank" href="https://jquery.com/">jQuery</a></li>
        <li><a target="_blank" href="https://drive.google.com">Google Drive</a></li>
    </ul>
{% endblock content %}
