{% extends "base.html" %}


{% block title %}
    About - {% endblock title %}

{% block page_title %}
    About Government Report Card
{% endblock page_title %}

{% block content %}
    <blockquote cite="https://en.wikipedia.org/wiki/Evelyn_Beatrice_Hall">I do not agree with what you have to say, but I'll defend to the death your right to say it.</blockquote>
    <p> ~ <a href="https://en.wikipedia.org/wiki/Evelyn_Beatrice_Hall" target="_blank">Evelyn Beatrice Hall in Voltaire's biography</a></p>

    <h2>What this website is</h2>
    <p>This website is just an effort start a conversation on the Indian government's agenda and items in manifesto. The main goal of this project is to establish a platform where the Indian citizens can convery their thoughts on each of the items in the current serving majority's manifesto.</p>
    <p>This website hopes to serve as a record of what the citizens think about a particular item of the manifesto, discuss it and hope to see if there has been any progress in it.</p>
    <p>It is a geniune attempt at a project that might grow into tracking citizens' input and thoughts, hopefully creating a better democracy.</p>

    <h2>What this website isn't</h2>
    <p>This website is <u>in no way</u> a place to fuel hatred against any particular gender, caste, religion, status, position, nationality, party, opinions, thoughts.</p>
    <p>This website is not biased in any way.</p>

    <h2>ToDo</h2>
    <ul>
        <li>Create a voting mechanism on each of the item.</li>
        <li>Move the system from spreadsheet to a DB.</li>
    </ul>
{% endblock content %}
