{% extends "base.html" %}


{% block title %}
    About - {% endblock title %}

{% block page_title %}
    About Government Report Card
{% endblock page_title %}

{% block content %}
    <h2>What this website is</h2>
    <p>This website is just an effort start a conversation on the Indian government's agenda and items in manifesto. The main goal of this project is to establish a platform where the Indian citizens can convery their thoughts on each of the items in the current serving majority's manifesto.</p>
    <p>This website hopes to serve as a record of what the citizens think about a particular item of the manifesto, discuss it and hope to see if there has been any progress in it.</p>

    <h2>What this website isn't</h2>
    <p>This website is <u>in no way</u> a place to fuel hatred against any particular gender, caste, religion, status, position, nationality, party, opinions, thoughts.</p>

{% endblock content %}
