{% extends "base.html" %}


{% block title %}
    Current Manifesto - {% endblock title %}

{% block page_title %}
Current Manifesto
{% endblock page_title %}

{% block content %}

<p>You can get <a href="http://bjpelectionmanifesto.com/pdf/manifesto2014.pdf">the current manifesto [PDF]</a> from the <a href="http://bjpelectionmanifesto.com/" target="_blank">BJP manifesto website.</a></p>

<p><a href="https://docs.google.com/spreadsheets/d/1BJ3wjlDRLl9N_ApKEDBc-PPUPD-fZca1lUJ_CzvLcQE" target="_blank">Excel spreadsheet</a> that powers this porject (based on the PDF of the current majority's manifesto).</p>
{% endblock content %}
