{% extends "base.html" %}

{% block title %}
    {% if title %}
        {{ title }} -
    {% endif %}
{% endblock title %}

{% block page_title %}
    {{ page_title }}
{% endblock page_title %}

{% block content %}
    <input type="text" name="qfilter" id="qfilter_id" placeholder="Type here to quickly filter the list">
    <ul id="manifesto_items_list">
    {% for row in COPY.main_manifesto_items %}
        {% if loop.index != 1 %}
            <li class="">
            <h2 class="fi-magnifying-glass large"><a href="/manifesto/{{loop.index}}/">{{ row.value }}</a></h2>
                <span class="label secondary radius">{{ row.tags }}</span>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    <p id="no_result_message" style="display:none;">No results found.</p>
{% endblock content %}