{% extends "base.html" %}

{% block title %}
    {% if row['value'] %} {{ row['value'] }} - {% endif %}
{% endblock title %}

{% block content %}
    <div id="mani_item">
        <h1 class="fi-magnifying-glass large"><span>{{row['value']}}<span></h1>
        <p>{{row['text']}}</p>
    </div>

    <div class="row">
        <div class="small-12 large-12 columns">
            <div id="disqus_thread"></div>
        </div>
    </div>

    <script type="text/javascript">
        var disqus_shortname = 'governmentreportcard';
        var disqus_identifier = 'manifesto:{{id}}:{{row["key"]}}';
        var disqus_title = '{{row["key"]}}';
        var disqus_url = '/manifesto/{{id}}/';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock content %}